# Lecture 1. What is Python? Introduction to Python

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/Y8Tko2YC5hA/0.jpg)](https://www.youtube.com/watch?v=Y8Tko2YC5hA)

So, Python is:
- powerful
- fast
- dynamic
- compact
- easy to interpret 
- easy to run
- make programming more fun :)

In a nutshell, here are the main Python principles:

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!


Apart from that, there are a lot of libraries and tools that you can import and avoid writing a loooot of code from scratch!

# [Python Data Types](https://docs.python.org/3/library/stdtypes.html)

![](https://github.com/rsouza/Python_Course/raw/ea97b457af44f9247f771fc1ba3e1d6ccebd3c39/Data/Figs/datatypes.png)

- Numeric Types: int, float, complex
- Text Type: str
- Boolean Type: bool
- Sequence Types: list, tuple, range
- Mapping Type: dict
- Set Types: set, frozenset
- Binary Types: bytes, bytearray, memoryview
- ...

### Our Main Example Task: save students who were present in the lecture & some additional information (e.g. names, age, major...)

```
1. 
2. 
3.
4.
5.
6.
7.
8.
9.
10.
...
```



What other information may be potentially interesting?
- how many students were in the lecture?
- ...

## Type String:

+ Strings are ordered sequences of the same type (characters).  
+ Strings are created with single quotes / double quotes
+ Strings are used everywhere in information processing, and are considered to be a immutable type, i.e. you cannot change their elements after the creation.

In [79]:
s1 = 'a new string'
s1

'a new string'

In [3]:
s2 = "let's go to the classroom"      # when to use quotes in a smart way
s2

"let's go to the classroom"

In [81]:
s3 = 'But what if I have simple quotes (\') e and double quotes(")'
print(s3)

But what if I have simple quotes (') e and double quotes(")

#### Concatenating strings

In [89]:
s3 = s1 + ', ' + s2
print(s3)

a new string, let's go to the classroom

In [90]:
print('The book' + ' ' + 'is on' + ' ' + 'the table')

The book is on the table

#### Concatenating strings

In [91]:
s3 = s1 + ', ' + s2
print(s3)

a new string, let's go to the classroom

In [92]:
print('The book' + ' ' + 'is on' + ' ' + 'the table')

The book is on the table

#### Modifying strings (hint: we have to recreate them)

In [93]:
s4 = s3.replace('a','@')
s4

"@ new string, let's go to the cl@ssroom"

#### Finding substrings

In [103]:
print(s4.find('go'))

20

#### Accessing elements and slicing

In [104]:
s5 = "A brand new string to play"
s5[6]

'd'

In [105]:
s5[12:]

'string to play'

In [106]:
s5[s5.find('string'):s5.find('string')+len('string')]

'string'

#### The useful module "string"

In [99]:
import string

In [100]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

#### Replace string elements

In [110]:
s6 = '''
Python is an interpreted high-level general-purpose programming language. 
Its design philosophy emphasizes code readability with its use of significant indentation. 
Its language constructs as well as its object-oriented approach aim to help programmers write clear, 
logical code for small and large-scale projects.
'''

for punct in ['.','?','!']:
    s6 = s6.replace(punct, '*****')
print(s6)

Python is an interpreted high-level general-purpose programming language*****
Its design philosophy emphasizes code readability with its use of significant indentation*****
Its language constructs as well as its object-oriented approach aim to help programmers write clear,
logical code for small and large-scale projects*****

## Numeric Types
In Python 3.x, the numeric types are divided in three classes: 
- integers (int)
- floating point numbers (float)
- complex numbers (complex) - let's leave them out for now

![](https://github.com/rsouza/Python_Course/blob/master/Data/Figs/notmytype.png?raw=true)

In [38]:
a = 12
type(a)    # that's how we are checking the type of the variable

int

In [40]:
b = "3"
b.isdigit()

True

In [41]:
type(b)

str

In [42]:
c = 2.7
type(c)

float

We can also change the type of the variable from int to float and vice versa:

In [43]:
a_float = float(a)
print(a_float)
type(a_float)

12.0

float

In [44]:
c_int = int(c)
print(c_int)
type(c_int)

2

int

### Numeric Types Operations

Here are (some of, most popular) numeric types operations:

<table class="docutils align-default">
<colgroup>
<col style="width: 25%" />
<col style="width: 40%" />
<col style="width: 11%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">+</span> <span class="pre">y</span></code></p></td>
<td><p>sum of <em>x</em> and <em>y</em></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">-</span> <span class="pre">y</span></code></p></td>
<td><p>difference of <em>x</em> and <em>y</em></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">*</span> <span class="pre">y</span></code></p></td>
<td><p>product of <em>x</em> and <em>y</em></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p>quotient of <em>x</em> and <em>y</em></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">//</span> <span class="pre">y</span></code></p></td>
<td><p>floored quotient of <em>x</em> and <em>y</em></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">%</span> <span class="pre">y</span></code></p></td>
<td><p>remainder of <code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">-x</span></code></p></td>
<td><p><em>x</em> negated</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">int(x)</span></code></p></td>
<td><p><em>x</em> converted to integer</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">float(x)</span></code></p></td>
<td><p><em>x</em> converted to floating point</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">pow(x,</span> <span class="pre">y)</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">**</span> <span class="pre">y</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
</tr>
</tbody>
</table>

In [51]:
a + b

14.7

In [53]:
0.5 * (a - b)

4.65

In [155]:
a / b

4.444444444444444

In [156]:
-a

-12

#### Logic Operations  

We could also *compare* different numeric values:

<table class="docutils align-default">
<colgroup>
<col style="width: 32%" />
<col style="width: 68%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Meaning</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;</span></code></p></td>
<td><p>strictly less than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;=</span></code></p></td>
<td><p>less than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;</span></code></p></td>'
<td><p>strictly greater than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;=</span></code></p></td>
<td><p>greater than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">==</span></code></p></td>
<td><p>equal</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">!=</span></code></p></td>
<td><p>not equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">is</span></code></p></td>
<td><p>object identity</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">is</span> <span class="pre">not</span></code></p></td>
<td><p>negated object identity</p></td>
</tr>
</tbody>
</table>

In [7]:
c = 2.5
d = 4

print(c > d)

In [8]:
c = 2.5
d = 4

print(c <= d)

In [9]:
print(c == d)

In [10]:
print(d != c)

## Boolean Type (True, False)

+ A boolean is used to create logic statements, or appear as a result of logical tests  
+ Bolean objetcts can be either True or False

<table class="docutils align-default">
<colgroup>
<col style="width: 25%" />
<col style="width: 62%" />
<col style="width: 13%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">or</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>y</em>, else
<em>x</em></p></td>
<td><p>(1)</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">and</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>x</em>, else
<em>y</em></p></td>
<td><p>(2)</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">not</span> <span class="pre">x</span></code></p></td>
<td><p>if <em>x</em> is false, then <code class="docutils literal notranslate"><span class="pre">True</span></code>,
else <code class="docutils literal notranslate"><span class="pre">False</span></code></p></td>
<td><p>(3)</p></td>
</tr>
</tbody>
</table>

In [120]:
b1 = True
b2 = False

type(b2)

bool

In [121]:
b1 == b2

False

## Type List:
+ Lists are ordered sequences of items, not necessarily of the same type.  
+ Lists are created with square brackets, and each item is separated by commas.  
+ Lists are widely used, and are considered to be a mutable type, i.e. you can change their elements.

In [19]:
my_list = [1, 2, 2, [2,3,4], 3.9, 4, 2.8, 'a string']

In [20]:
my_list

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'a string']

In [21]:
my_list.count(2)    # how many 2s are there in the list?

2

#### Acessing list elements (NB! the first elements has index 0)

In [22]:
my_list[2]    # access the 2nd element in the list

2

In [23]:
my_list[3]    # access the 3d element in the list

[2, 3, 4]

In [24]:
print(my_list[-1])    # access the last element in the list

a string

#### Slicing

In [25]:
print(my_list[2:6])

[2, [2, 3, 4], 3.9, 4]

In [26]:
print(my_list[5:])

[4, 2.8, 'a string']

In [27]:
print(my_list[:3])

[1, 2, 2]

#### Adding new elements

In [28]:
my_new_list = [2, 6, 3, 8]
print("My list:", my_new_list)
my_new_list.append(23)
print("Updated My list:", my_new_list)

My list: [2, 6, 3, 8]
Updated My list: [2, 6, 3, 8, 23]

In [29]:
my_new_list.insert(2, 5678)
print("Updated My list once again:", my_new_list)

Updated My list once again: [2, 6, 5678, 3, 8, 23]

In [30]:
my_new_list = my_new_list + [0, 1]
my_new_list

[2, 6, 5678, 3, 8, 23, 0, 1]

#### Removing elements from a list

In [31]:
my_new_list.pop()

1

In [32]:
print("My list now:", my_new_list)

My list now: [2, 6, 5678, 3, 8, 23, 0]

#### Converting string to list

In [33]:
list_from_string = list('my favorite string')
list_from_string

['m',
 'y',
 ' ',
 'f',
 'a',
 'v',
 'o',
 'r',
 'i',
 't',
 'e',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

### Maximum value

If you want to calculate the maximum value of the list, you can use "max" function and print the result in one line:

In [28]:
print("Maximum value of the list is:", max(my_list))

Maximum value of the list is: 8

### Sum of the values

In order to get the sum of all the elements in the list, you can call "sum" function:

In [29]:
print("Sum of all the values in the list is:", sum(my_list))

Sum of all the values in the list is: 20

### Sort elements

The list of elements can be sorted in the ascending and descending order:

In [32]:
print(sorted(my_list))
print(sorted(my_list, reverse=True))

[1, 2, 4, 5, 8]
[8, 5, 4, 2, 1]

### Length of the data

Another thing you might want to know is how long you data is. 
- if it is a string: how many symbols are there? 
- if it is a list: how many elements are there?

In [11]:
len("Hello world!")

12

In [12]:
len(my_list)

3

#### Split string  into list

In [35]:
s6 = '''
Python is an interpreted high-level general-purpose programming language. 
Its design philosophy emphasizes code readability with its use of significant indentation. 
Its language constructs as well as its object-oriented approach aim to help programmers write clear, 
logical code for small and large-scale projects.
'''
s6_split = s6.split('.')
s6_split

['\nPython is an interpreted high-level general-purpose programming language',
 ' \nIts design philosophy emphasizes code readability with its use of significant indentation',
 ' \nIts language constructs as well as its object-oriented approach aim to help programmers write clear, \nlogical code for small and large-scale projects',
 '\n']

In [116]:
type(s6_split)

list

## Type Set:
+ Set objects in Python are sets of unique itens (no repetition).  
+ Sets are muttable

In [122]:
c1 = {1,2,3,3,3,3,3,4}
c1

{1, 2, 3, 4}

In [123]:
type(c1)

set

In [126]:
list_w_repetition = [1,2,3,4,1,2]
print(list_w_repetition)

list_wo_repetition = list(set(list_w_repetition))
print(list_wo_repetition)

[1, 2, 3, 4, 1, 2]
[1, 2, 3, 4]

In [129]:
my_string = 'a nice string with lots of characters'
set(my_string)

{' ', 'a', 'c', 'e', 'f', 'g', 'h', 'i', 'l', 'n', 'o', 'r', 's', 't', 'w'}

In [130]:
print(len(my_string))
print(len(set(my_string)))

37
15

#### Task: define and count uniques words in text

Let's say, we have the following poem by Robert Frost:
```
The Road Not Taken 
By Robert Frost

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference`
```

How could we extract only unique words? How could we count them?

In [34]:
t1 = '''
The Road Not Taken
By Robert Frost

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.'''

lwords = t1.split()
unique_words = set(lwords)
print(len(lwords))
print(len(unique_words))

151
107

In [5]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y) 
print(z)

True

## Type Tuple:  
+ Tuples, as lists, are ordered sequences of items.  
+ The great difference is that tuples are immutable - after created, their elements cannot be modified without re-creation

In [153]:
t1 = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])
t1

(1, 2, 3, 4, 7, 4, 3, 1, 'string', {1, 2}, [1, 2])

In [154]:
type(t1)

tuple

## Type Dict:
+ Dictionaires are sequences of pairs key:values  
+ They are created with curly braces, commas and colons e.g.{key1: value1, key2: value2}  
+ Keys must be immutable types (strings, numbers, tuples), values can be of any type

In [135]:
d1 = {'key1':[1,2,3],'key2':2,'key3':4,45:26, 'key4':23}
print(d1)

{'key1': [1, 2, 3], 'key2': 2, 'key3': 4, 45: 26, 'key4': 23}

In [136]:
d1.update({2:3})
print(d1)

{'key1': [1, 2, 3], 'key2': 2, 'key3': 4, 45: 26, 'key4': 23, 2: 3}

In [137]:
type(d1)

dict

In [139]:
record = {'Weight':73, 'Height':183, 'Age':44, 'Name':'Sebastian'}
record

{'Weight': 73, 'Height': 183, 'Age': 44, 'Name': 'Sebastian'}

In [140]:
record['Age']

44

In [143]:
grades = {
    'Math':{'A1':9.0, 'A2':8.0,'AS':4.0}, 
    'History':{'A1':9.0, 'A2':8.0,'AS':4.0},
    'Geography':{'A1':9.0, 'A2':8.0,'AS':4.0}
}

grades

{'Math': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'History': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geography': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [144]:
grades['Math']['A2']

8.0

In [145]:
grades.items()

dict_items([('Math', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('History', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geography', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [146]:
'A2' in grades['Math']

True

In [147]:
grades['Math'].values()

dict_values([9.0, 8.0, 4.0])

In [149]:
grades['Math']['AS'] = 10
grades

{'Math': {'A1': 9.0, 'A2': 8.0, 'AS': 10},
 'History': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Geography': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

### Printing

If you want to print something out, you should call "print" function with the expression in the brackets afterwards:

In [4]:
print("Hello world!")

Hello world!

You can print not only strings, but also other data, such as lists of elements:

In [27]:
my_list = [1, 8, 2, 4, 5]
print(my_list)

[1, 8, 2, 4, 5]

### Define Types

If you are not sure, what kind of data you have (is it a string? a list?), you can call a "type" function:

In [10]:
type("Hello world!")

str

In [9]:
type(my_list)

list